<p>products works!</p>

<!--
<h1>ng router link 跳转页面</h1>
<a [routerLink]="[ '/productscontent' ]">productcontent</a>

<br><hr><br>
-->

<h1>Angular ng-click (JavaScript click event) 跳转页面</h1>
<button (click)="productsContent()">js productscontent</button>&nbsp;&nbsp;

<button (click)="goHome()">js home</button>&nbsp;&nbsp;

<br><br>
<hr>

<h3>js click event 跳转页面并 GET 传值</h3>
<button (click)="newsContentParam()">js newscontent?aid=1</button>&nbsp;&nbsp;

<button (click)="newsContent()">js newscontent/1</button>&nbsp;&nbsp;
